<html>

<body>
    <p>Hi {{invatedUsername}},</p>
    <p>You have been invited from <span>{{ownerUsername}}</span> to collaborate on the list: <b>{{listTitle}}</b>.</p>
    <p>Click below to accept or decline:</p>
    <p>You’ve been invited to a list!</p>
    <p><a href="{{acceptLink}}">Accept</a> | <a href="{{declineLink}}">Decline</a></p>
    <p>Thanks,<br /><b>Pick Your Stuff App<b></p>
</body>

</html>